.clubdashboard{
    width: 100%;
    padding-top: 100px;
    overflow: hidden;
    overflow-x: hidden;
}

.cllubdahsboardcontainer{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background: rgb(255, 0, 38); */
    padding: 20px;
    
}

.firstdahs{
    width: 40%;
    height: 80%;
    background:  rgba(255, 255, 255, 0.05);;
    border-radius: 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
     cursor: pointer;
       padding-left: 20px;

}
.seconddash{
    width: 30%;
    height: 60%;
    background:  rgba(255, 255, 255, 0.05);;
    cursor: pointer;
    border-radius: 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;



}
.scannerdash{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;


}


.threedscanner {
    width: 185px;
    height: 200px;
    position: relative;
    margin: 50px auto;
    border: 1px solid #3fdb34;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: start; 
    cursor: pointer;
    padding-left: 20px;
    background: #fff;
}

.threedscanner:before,
.threedscanner:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.threedscanner:before {
    top: -5px;
    left: -5px;
    border: 5px solid rgba(66, 219, 52, 0.7);
    z-index: 1;
}

.threedscanner:after {
    top: -10px;
    left: -10px;
    border: 10px solid rgba(83, 219, 52, 0.4);
    z-index: 0;
}

.dashinfo{
  color: #fff;
  width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
  height: 180px;
}
.btn-13 {
    color: #ffffff;
    box-shadow: 0 0 5px #0bf43a, 0 0 5px #0bf413 inset;
    border: 1px solid #1ef40b;
    z-index: 1;
    position: relative;
    background: transparent;
  }
  .btn-13:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    box-shadow: 0 0 5px #26f40b, 0 0 5px #0bf44d inset;
    transition: all 0.3s ease;
  }
  .btn-13:hover {
    
  }
  .btn-13:hover:after {
    top: 0;
    height: 100%;
  }
  .btn-13:active {
    top: 2px;
  }

  .tablecontainer th h1 {
    font-weight: bold;
    font-size: 1em;
text-align: left;
color: #185875;
}

.tablecontainer td {
    font-weight: normal;
    font-size: 1em;
-webkit-box-shadow: 0 2px 2px -2px #0E1119;
     -moz-box-shadow: 0 2px 2px -2px #0E1119;
          box-shadow: 0 2px 2px -2px #0E1119;
}

.tablecontainer {
    text-align: left;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
display: table;
padding: 0 0 8em 0;
background: #000;
}

.tablecontainer td, .tablecontainer th {
    padding-bottom: 2%;
    padding-top: 2%;
padding-left:2%;  
}

/* Background-color of the odd rows */
.tablecontainer tr:nth-child(odd) {
    background-color: #323C50;
}

/* Background-color of the even rows */
.tablecontainer tr:nth-child(even) {
    background-color: #2C3446;
}

.tablecontainer th {
    background-color: #1F2739;
}

.tablecontainer td:first-child { color: #FB667A; }

.tablecontainer tr:hover {
 background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
     -moz-box-shadow: 0 6px 6px -6px #0E1119;
          box-shadow: 0 6px 6px -6px #0E1119;
}

.tablecontainer td:hover {
background-color: #4fff42;
color: #403E10;
font-weight: bold;

box-shadow: #217f2c -1px 1px, #217f29 -2px 2px, #217f3c -3px 3px, #217f39 -4px 4px, #297f21 -5px 5px, #217f3c -6px 6px;
transform: translate3d(6px, -6px, 0);

transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
transition-timing-function: line;
}

@media (max-width: 800px) {
.tablecontainer td:nth-child(4),
.tablecontainer th:nth-child(4) { display: none; }
}
.addmoredj{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.addmorebutton{
 
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  margin-bottom: 40px;

}