/* EnlistClub.css */
.enlist-club-container {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 70px;
    background: #1b1b1b;
    overflow: hidden;
    color: #fff;
    background-image: url('../../assets/bg1.png');
    background-size: cover;
    background-position: center;
    padding-top: 50px;
    padding-right: 10px;

    font-family: 'Abel', sans-serif;
    font-family: 'Anton', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
    letter-spacing: 1px;
 
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 10px;
    margin-left: 5%;
  }
  
  .inputStyleClub {
   
    border-radius: 10px;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 14px;
    vertical-align: baseline;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: .16px;
    border-radius: 0;
    outline: 2px solid transparent;
    outline-offset: -2px;
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 1px solid #8d8d8d;
    background-color: #f4f4f4;
    padding: 0 16px;
    color: #161616;
    transition: background-color 70ms cubic-bezier(.2,0,.38,.9),outline 70ms cubic-bezier(.2,0,.38,.9);  
    
  }
  
  .inputStyleClub:focus{
    outline: 2px solid #0ffe47;
    outline-offset: -2px;
}
  button {
    padding: 10px;
    background-color: #4c7faf;
    color: white;
    cursor: pointer;
    border: none;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: rgb(99, 160, 69);
  }
  

  @media (max-width: 968px) {
    .inputStyleClub {
      width: 90%;
      }  


  }