.clublogininput{
    
   
    box-shadow: inset #abacaf 0 0 0 2px;
    border: 0;
    background: rgba(0, 0, 0, 0);
    appearance: none;
    width: 90%;
    position: relative;
    border-radius: 3px;
    padding: 9px 12px;
    line-height: 1.4;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    transition: all .2s ease;
     margin-top: 8px;
   
    
    
}

.clublogininput:hover{
    box-shadow: 0 0 0 0 #fff inset, #1de9b6 0 0 0 2px;
}
.clublogininput:focus{
    color: #000;

    background: #fff;
    outline: 0;
    box-shadow: 0 0 0 0 #fff inset, #1de9b6 0 0 0 3px;
}

/* 9 */
.btn-9 {
    position: relative;
    color: #fff352;
    border: 1px solid #fff352;
    box-shadow: 0 0 5px #fff352, 0 0 5px #fff352 inset;
    z-index: 2;
    transition: all 0.3s ease;
    overflow: hidden;
    background: transparent;
    margin-left: 10%;
  }
  .btn-9:after {
    position: absolute;
    content: " ";
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
  }
  .btn-9:hover {
    color: #000;
  }
  .btn-9:hover:after {
    background: #fff352;
    -webkit-transform: scale(2) rotate(180deg);
    transform: scale(2) rotate(180deg);
    box-shadow:  4px 4px 6px 0 rgba(255,255,255, 1),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255, 1),
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
  }
  
  .clublogincontainer{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .clubloginImageBox{
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .clubloginImg{
    width: 100%;
    height: 100%;

  }